/*GENERAL---*/

header {
  display: flex;
  margin-top: 40px;
  /*flex-direction: row;*/
  justify-content: space-between;
  /*align-items: center;*/
}

h1 {
  font-size: 54px;
  font-weight: 900;
  line-height: 65px;
  margin-top: 40px;
}

span {
  color: #ff5d5d;
}

/*img {
  display: flex;
}*/

body {
  line-height: 3;
}

.container {
  width: 1024px;
  margin-left: 300px;
}

/*--- HEADER ---*/

.logoimg {
  width: 191px;
}

/*.search {
  border: 1px solid grey;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}*/

/*header .search {
  justify-content: center;
  align-items: center;
}*/

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

li {
  margin-left: 10px;
}

button {
  border: none;
  height: 40px;
  margin: 0 15px;
  border-radius: 20px;
  color: white;
  /*background-color: black;*/
}

header nav button {
  color: white;
  background-color: black;
}

nav a {
  text-decoration: none;
  color: black;
  gap: 10px;
}

header nav {
  display: flex;
}

.fa-solid,
.fas {
  font-weight: 900;
  margin: 0 10px;
}

/*--- MAIN----*/
.about {
  text-decoration: none;
  color: black;
}

main button {
  margin-top: 20px;
  height: 67px;
  width: 180px;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
}

main nav {
  display: flex;
  justify-content: row;
  justify-content: space-around;
}

main .firstimg {
  margin-top: 30px;
  width: 200px;
}

main .secondimg {
  margin-top: 30px;
  width: 90px;
}
