/*GENERAL---*/

header img {
  display: flex;
  margin-top: 40px;
  /*flex-direction: row;*/
  justify-content: space-between;
  /*align-items: center;*/
}

/*img {
  display: flex;
}*/

body {
  line-height: 3;
}

.container {
  width: 1024px;
  margin-left: 300px;
}

/*--- HEADER ---*/

.logoimg {
  width: 191px;
}

/*.search {
  border: 1px solid grey;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}*/

/*header .search {
  justify-content: center;
  align-items: center;
}*/

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

li {
  margin-left: 10px;
}
